<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jdbcdb">
	<insert id="insert" parameterType="com.kfc.Today">
		insert into today(today,count,money) values(#{today},#{count}, #{money})
	</insert>
</mapper>
